# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.
#Bin.Wen@TECH.BSP.Stability.SAUPWK 2020/06/15, Add for SAUPWK
#change 'y' to 'n', if you want fo close saupwk feature
config OPLUS_FEATURE_SAUPWK
    tristate "oppo saupwk project"
    default n
    help
      define this config to init oppo saupwk.
