#ifdef OPLUS_ARCH_EXTENDS
#//GaoTing.Gan@PSW.MultiMedia.MediaServer, 2019/03/07, Add for kevent feedback
config OPPO_CRITICALLOG
bool "config oppo kevent feedback"
help
    define this config to init oppo kevent feedback driver.
#endif /* OPLUS_ARCH_EXTENDS */
