
#ifdef OPLUS_FEATURE_TP_BASIC
#Added by Cong.Dai@Bsp.group.Tp for Samsung s6sy791 ic driver

config TOUCHPANEL_SAMSUNG_S6SY791
#	default y
	bool "TP Samsung s6sy791 IC enable or not for OPPO"
	---help---
	say Y to enable driver for Touchpanel using Samsung s6sy791

#endif

