
#ifdef OPLUS_FEATURE_TP_BASIC
#Added by Zengpeng.Chen@Bsp.group.Tp for Samsung s6sy792 ic driver

config TOUCHPANEL_SAMSUNG_S6SY792
#	default y
	bool "TP Samsung s6sy792 IC enable or not for OPPO"
	---help---
	say Y to enable driver for Touchpanel using Samsung s6sy792

#endif

