# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2020 Oplus. All rights reserved.

config OPPO_FG_IO_OPT
       bool "Enable oppo foreground io optimization"
       depends on FG_TASK_UID
       default y
       help
         oppo foreground io optimization
